{% extends 'base.html' %}

{% block title %}Sobre mí{% endblock %}

{% block content %}
<div class="container">
  <h1>Sobre mí</h1>
  <p>
    ¡Hola! Soy <strong>Matias Vigil</strong>, tengo 44 años y me inscribí en el curso de Python de 
    <em>Coderhouse</em> como complemento a una tesis de licenciatura que estoy terminando.
  </p>
  <p>
    También soy creador de <strong>Not Today</strong>, un espacio que fusiona lo gótico, el K-pop y lo geek en un mismo lugar. 
    Me apasiona la programación, el diseño web y la idea de combinar distintas culturas y estilos en un solo proyecto.
  </p>
</div>
{% endblock %}