{% extends "base.html" %}
{% block title %}{{ page.titulo }}{% endblock %}
{% block content %}
<div class="container">
  <h1>{{ page.titulo }}</h1>
  {% if page.imagen %}<img src="{{ page.imagen.url }}" alt="{{ page.titulo }}" style="max-width:100%; border-radius:10px; margin:10px 0;">{% endif %}
  {% if page.bajada %}<p class="muted">{{ page.bajada }}</p>{% endif %}
  <div class="mt-2">
    {{ page.cuerpo|safe }}
  </div>
  <p class="mt-2"><a class="nt-btn" href="{% url 'pages:page_list' %}">Volver</a></p>
</div>
{% endblock %}
